/* подключение шрифта */
/* &display=swap&subset=cyrillic-ext */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Roboto:wght@400;700;900&display=swap");

/* @font-face {
	font-family: "Helvetica Neue";
	src: url("../HelveticaNeue-CondensedRegular.woff2") format("woff2"),
		url("../HelveticaNeue-CondensedRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../HelveticaNeue-Bold.woff2") format("woff2"), url("../HelveticaNeue-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../HelveticaNeue-CondensedBlack.woff2") format("woff2"),
		url("../HelveticaNeue-CondensedBlack.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
} */

/* обнуление */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

ul,
ol,
li {
	text-decoration: none;
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html {
	font-size: 16px;
}

body {
	line-height: 1;
	font-family: "Roboto";
}

.wrapper {
	min-height: 100%;
}

/* ------------------------ */

.main {
	padding: 0px 0px 700px 0px;
}

.lesson {
	background: url(../img/head.jpg) center / cover no-repeat;
	height: 300px;
	width: 100%;
}
.lesson__top {
	font-weight: 900;
	font-size: 36px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.8);
	position: fixed;
	top: 50px;
	left: 46.7%;
	z-index: 100;
	border: 3px solid rgba(255, 255, 255, 0.8);
	border-radius: 10%;
	padding: 5px 5px;
}
.lesson__bottom {
	display: inline-block;
	font-weight: 900;
	font-size: 36px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.8);
	position: sticky;
	top: 100px;
	left: 46.7%;
	z-index: 90;
	border: 3px solid rgba(255, 255, 255, 0.8);
	border-radius: 10%;
	padding: 5px 50px;
}

.page_margin-bottom {
	margin: -96px 0px 0px 0px;
}
.page__container {
	max-width: 1020px;
	margin: 0 auto;
	padding: 100px 87px 275px 87px;
	background: url(../img/backgr.jpg) center / cover no-repeat;
	border-radius: 40px;
	position: relative;
}
.page__container::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 354px;
	left: 40px;
	background: url(../img/Blob\ 2.png) no-repeat;
}
.page__container::after {
	content: "";
	position: absolute;
	width: 201px;
	height: 317px;
	top: -110px;
	left: 896px;
	background: url(../img/circles.svg) no-repeat;
}
.page__box {
	margin: 0px 0px 79px 0px;
}
.box-page {
}
.box-page__our {
	margin: 0px 105px 0px 0px;
}
.box-page__title {
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0px 0px 30px 0px;
	padding: 0px 0px 0px 30px;
	background: url(../img/logo.svg) 0 0 no-repeat;
}
.box-page__subtitle {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #ffffff;
	width: 583px;
	margin: 0px 0px 36px 0px;
}

.box-page__text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #f5f5f5;
	width: 846px;
}

.page__image {
	text-align: center;
	margin: -290px 0px 0px 0px;
	position: relative;
	z-index: 10;
	border-radius: 40px;
}
